#### Prompt the user for a day of the week, print out whether the day is Monday or not

In [21]:
day = input('give me the day of the week: ')

give me the day of the week: monday

In [29]:
day.upper()

'MONDAY'

In [33]:
day = input('give me the day of the week: ')
day = day.upper()

if day == 'MONDAY':
    print('today is monday!')
else:
    print('today is NOT monday')

give me the day of the week: monDAY
today is monday!

#### Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [47]:
#option 1
day = input('give me the day of the week: ')

if day == 'saturday':
    print('this is the weekend')
elif day == 'sunday':
    print('this is the weekend')
else:
    print('this is NOT the weekend')

give me the day of the week: sudnay
this is NOT the weekend

In [45]:
#option 2 using a list and an IN
weekend = ['saturday', 'sunday']
day = input('give me the day of the week: ')

if day.lower() in weekend:
    print('this is the weekend')
else:
    print('this is NOT the weekend')

give me the day of the week: SUNDAY
this is the weekend

#### Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:

- The number of hours worked in one week
- The hourly rate

For calculating pay:
- For working 40 hours or less, each hour is paid at the hourly rate
- For working more than 40 hours
    - the first 40 hours are paid at the hourly rate
    - each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [53]:
hours_weekly = 41
hourly_rate = 10

if hours_weekly <= 40:
    paycheck = hours_weekly * hourly_rate
else:
    ot_hours = hours_weekly - 40
    paycheck = (hourly_rate*40) + (ot_hours*hourly_rate*1.5)

paycheck

415.0

#### Create an integer variable i with a value of 5. Create a while loop that runs so long as i is less than or equal to 15. Each loop iteration, output the current value of i, then increment i by one.

In [65]:
i = 5 

while i <= 15:
    print(i)
    i += 1 # i = i+1

5
6
7
8
9
10
11
12
13
14
15

#### Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [67]:
i = 0

while i <=100:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

#### Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000.

In [71]:
1,000

(1, 0)

In [72]:
1_000

1000

In [73]:
1_3_2_3

1323

In [79]:
i = 2

while i <= 1_000_000:
    print(i)
    i **= 2
#     i = i*i --this will also work

2
4
16
256
65536

#### Write a while loop that uses print to create the output shown below.

In [53]:
# 100
# 95
# 90
# 85
# 80
# 75
# 70
# 65
# 60
# 55
# 50
# 45
# 40
# 35
# 30
# 25
# 20
# 15
# 10
# 5

In [81]:
i = 100

while i >= 5:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

#### Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

In [112]:
numb = int(input('enter a number: ')) #input function will always return a string, cast as int
print(type(numb))

for i in range(1,11):
    print(f'{i} x {numb} = {i*numb}')

enter a number: 5
<class 'int'>
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

#### Create a for loop that uses print to create the output shown below.

In [113]:
# 1
# 22
# 333
# 4444
# 55555
# 666666
# 7777777
# 88888888
# 999999999

In [119]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

#### Write a program that prompts the user for a positive integer. Next write a loop that prints out the numbers from the number the user entered down to 1.

In [131]:
numb = int(input('enter a positive integer: '))

for i in range(numb,0,-1):
    print(i)

enter a positive integer: 11
11
10
9
8
7
6
5
4
3
2
1

#### The input function can be used to prompt for input and use that input in your python code. Prompt the user to enter a positive number and write a loop that counts from 0 to that number. (Hints: note that the input function returns a string, so you'll need to convert this to a numeric type.)

In [134]:
numb = int(input('enter a number: '))

for i in range(numb+1):
    print(i)

enter a number: 5
0
1
2
3
4
5

#### Prompt the user for an odd number between 1 and 50. Use a loop and a break statement to continue prompting the user if they enter invalid input. (Hint: use the isdigit method on strings to determine this). Use a loop and the continue statement to output all the odd numbers between 1 and 50, except for the number the user entered.

In [141]:
numb.isdigit()

True

In [142]:
'hello'.isdigit()

False

In [148]:
numb = '   13    '

In [151]:
numb.isdigit()

False

In [150]:
numb.strip().isdigit()

True

In [164]:
numb = '-2'

In [170]:
numb.strip('-').isdigit() #if we wanted to keep our negative values

True

In [165]:
numb.isdigit()

False

In [169]:
int(numb)

-2

In [159]:
while True:
    numb = input('enter a odd number between 1 and 50: ')
    
    if numb.isdigit() == False:
        print('invalid entry. this is NOT a number.')
        continue
    numb = int(numb)
    if numb % 2 == 0:
        print('invalid entry. this is EVEN.')
        continue
    if numb < 1 or numb > 50:
        print('invalid entry. this is out of range.')
        continue
    break
    
for i in range(1,51,2):
    if i == numb:
        print(f'SKIP THIS NUMBER: {numb}')
        continue
    print(i)

enter a odd number between 1 and 50: 3
1
SKIP THIS NUMBER: 3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

#### One of the most common interview questions for entry-level programmers is the FizzBuzz test. Developed by Imran Ghory, the test is designed to test basic looping and conditional logic skills.

- Write a program that prints the numbers from 1 to 100.
- For multiples of three print "Fizz" instead of the number
- For the multiples of five print "Buzz".
- For numbers which are multiples of both three and five print "FizzBuzz".

In [185]:
for i in range(1,101):
    if i % 15 == 0:
#     if (i % 3 == 0) and ( i % 5 == 0 ): #also works
        print('FizzBuzz')
        continue
    if i % 3 == 0:
        print('Fizz')
        continue
    if i % 5 == 0:
        print('Buzz')
        continue        
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

#### Display a table of powers.

- Prompt the user to enter an integer
- Display a table of squares and cubes from 1 to the value entered
- Ask if the user wants to continue
- Assume that the user will enter valid data
- Only continue if the user agrees to

In [189]:
numb = int(input('enter a positive integer: '))

enter a positive integer: 5

In [190]:
numb

5

In [194]:
for i in range(1,numb+1):
    print(i, i**2, i**3)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125

In [196]:
while True:
    numb = int(input('enter a positive integer: '))
    
    for i in range(1,numb+1):
        print(i, i**2, i**3)
        
    cont = input('enter YES if you would like to continue: ')
    
    if cont.upper() != 'YES':
        break

enter a positive integer: 5
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
enter YES if you would like to continue: yes
enter a positive integer: 9
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
enter YES if you would like to continue: 12

#### Convert given number grades into letter grades.

- Prompt the user for a numerical grade from 0 to 100
- Display the corresponding letter grade
- Prompt the user to continue
- Assume that the user will enter valid integers for the grades
- The application should only continue if the user agrees to

Grade Ranges:

A : 100 - 88
B : 87 - 80
C : 79 - 67
D : 66 - 60
F : 59 - 0

In [199]:
grade = int(input('enter a numeric grade from 0-100: '))

enter a numeric grade from 0-100: 99

In [200]:
grade

99

In [202]:
if grade >= 88:
    print('A')
elif grade >= 80:
    print('B')
elif grade >=67:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

A

In [203]:
input('would you like to continue? (y/n): ')

would you like to continue? (y/n): y

'y'

In [207]:
cont = y

while cont == y:
    
    grade = int(input('enter a numeric grade from 0-100: '))
    
    if grade >= 88:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >=67:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print('F')
        
    cont = input('would you like to continue? (y/n): ')
    cont = cont.lower()
    
#     if cont.lower() != 'y':
#         print('thank you for playing!')
#         break

enter a numeric grade from 0-100: 56
F
would you like to continue? (y/n): y
enter a numeric grade from 0-100: 88
A
would you like to continue? (y/n): y
enter a numeric grade from 0-100: 99
A
would you like to continue? (y/n): n
thank you for playing!

#### Create a list of dictionaries where each dictionary represents a book that you have read. Each dictionary in the list should have the keys title, author, and genre. Loop through the list and print out information about each book.

In [208]:
books = [{'title': 'title1111', 'author': 'author11', 'genre': 'genre11'},
 {'title': 'title2222', 'author': 'author11', 'genre': 'genre22'},
 {'title': 'title3333', 'author': 'author22', 'genre': 'genre22'},
 {'title': 'title4444', 'author': 'author33', 'genre': 'genre22'}]

In [210]:
for book in books:
    print(book)
    print()

{'title': 'title1111', 'author': 'author11', 'genre': 'genre11'}

{'title': 'title2222', 'author': 'author11', 'genre': 'genre22'}

{'title': 'title3333', 'author': 'author22', 'genre': 'genre22'}

{'title': 'title4444', 'author': 'author33', 'genre': 'genre22'}

#### Prompt the user to enter a genre, then loop through your books list and print out the titles of all the books in that genre.

In [212]:
input_genre = input('enter a genre (genre11/genre22): ')

enter a genre (genre11/genre22): genre11

In [213]:
input_genre

'genre11'

In [218]:
for book in books:
    if book['genre'] == input_genre:
        print(book['title'])

title1111

In [219]:
input_genre = input('enter a genre (genre11/genre22): ')

for book in books:
    if book['genre'] == input_genre:
        print(book['title'])

enter a genre (genre11/genre22): genre22
title2222
title3333
title4444