# Control Structures

What are they: Commands that enable a program to know which direction to go. Aka controls the 'flow' of the program

There are different kinds of flow: 
- sequential flow
- conditional flow
- repetitive flow

Why do we care: These are building blocks in programming that allows us to do a lot of cool things!

## Conditional flow

opener: whats the difference between the following code commands?

In [69]:
breakfast = 'coffee'

In [70]:
breakfast

'coffee'

In [71]:
breakfast == 'coffee'

True

- the single = is setting a variable
- the double == is checking a condition

### IF statement

#### IF
-- if this condition is true, do this action

In [72]:
# FORMAT:
# if [condition_to_check]:
#     [do_this_if_TRUE]

In [73]:
breakfast

'coffee'

In [74]:
if breakfast == 'coffee':
    print('yes, you had cofffee for breakfast')

yes, you had cofffee for breakfast

> note: WHITE SPACE MATTERS IN PYTHON

In [75]:
if breakfast == 'coffee':
    print('hello')
            print('yes, you had cofffee for breakfast') #this errors out because of the extra indent

IndentationError: unexpected indent (3271632192.py, line 3)

#### syntax

- after you conditional statement, always include that colon :
- whatever you would like to execute, put on a new line and indent

#### more examples

In [76]:
awake = False

In [77]:
if breakfast == 'coffee': 
    print('yes you had coffe for breakfast')
    awake = True
    print(2+3)

yes you had coffe for breakfast
5

In [79]:
awake #this variable changed since it was executed inside the IF statement

True

In [80]:
if breakfast == 'cereal':
    print('yay cereal!')
    print(2+3) #nothing prints out because inside the if statement and the condition is false

In [81]:
if breakfast == 'cereal':
    print('yay cereal!')
    print(2+3)
print('goodbye') # this isnt included in the if statement so it always executes

goodbye

> pay attention to the indentation!

#### troubleshooting

In [82]:
weather = 'rain'

Whats wrong with the following code? Look at the error statements before fixing.

In [83]:
if weather = 'rain':
    print('yes, it is rainy outside today')

SyntaxError: invalid syntax (4008337924.py, line 1)

- this isn't checking a condition, it's trying to set a variable

In [84]:
if weather == rain:
    print('yes, it is rainy outside today')

NameError: name 'rain' is not defined

- it thinks that `rain` is a variable since its not in quotes

In [85]:
if weather == 'rain':
print('yes, it is rainy outside today')

IndentationError: expected an indented block (3714790084.py, line 2)

- the print statement isnt indented

In [86]:
if weather == 'rain'
    print('yes, it is rainy outside today')

SyntaxError: invalid syntax (4247481164.py, line 1)

- there isnt a colon after the conditional statement

#### IF/ELSE
-- if this condition is true, do this action, if nothing else is true, do this

In [87]:
# FORMAT:
# if [condition_to_check]:
#     [do_this_if_TRUE]
# else:
#     [do_this_if_FALSE]

In [88]:
breakfast

'coffee'

In [89]:
if breakfast == 'banana':
    print('yay banana!')
else:
    print('i dont know what you had for breakfast')
    print('extra lines')

print(5+2) #will always print regardless

i dont know what you had for breakfast
extra lines
7

#### syntax

note: the indentations and new lines

#### IF/ELIF/ELSE
-- if this condition is true, do this action, else if this other condition is true, do something else, if nothing is true, do this

In [90]:
# FORMAT:
# if [condition_to_check]:
#     [do_this_if_TRUE]
# elif [condition_to_check]:
#     [do_this_if_TRUE]
# else:
#     [do_this_if_FALSE]

In [91]:
breakfast, weather

('coffee', 'rain')

In [92]:
if breakfast == 'coffee':
    print('breakfast coffee')
elif weather == 'rain':
    print('it rain')
else:
    print('no coffee or rain')

breakfast coffee

- as soon as a condition is TRUE, it will execute and get out of the if statement

#### double if?

In [93]:
if breakfast == 'coffee':
    print('breakfast coffee') 
if weather == 'rain': #not using an elif
    print('it rain')
else:
    print('no coffee or rain')

breakfast coffee
it rain

- these both print out because we used two IF statements instead of an IF and ELIF

#### check multiple conditions?

In [94]:
breakfast, weather

('coffee', 'rain')

In [98]:
if breakfast == 'coffee' and weather == 'sunny': #you dont need an else statement
    print('coffee and sun')
# else:
#     print('these both arent true')

In [99]:
if breakfast == 'coffee' or weather == 'sunny':
    print('coffee and sun')

coffee and sun

- `and` BOTH conditions are true
- `or` EITHER coniditon is true

## Repetitive Flow (loops)

### While loop
-- do some action over and over again while a condition is true

In [100]:
# FORMAT: 
# while [condition]:
#     [repeat_this_while_condition_is_true]

In [102]:
x = 1

while x < 5:
    print(x)
    x = x + 1

print(x)

1
2
3
4
5

#### syntax

- need the colon after the conditional statement
- everything that you want to execute has to be indented over

#### whats happening in the above code?

- setting my variable x to 1 
- then im checking if x is less that 5
- printing out x
- adding one to x
- go back to the top of the loop and check my condition to see if it is true
- once my condition is false, then i exit the loop

#### another example

In [103]:
x = 6

while x < 5: #doesnt error out, just doesnt execute anything because the condition is always false
    print(x)
    x = x + 1

print(x)

6

In [104]:
# x = 6

# while x > 5: #need to be able to break out of this condition somehow
#     print(x)

- this in an infite loop. dont make these

#### troubleshoot

In [105]:
x = 1 

while x < 5: 
    print(x)
    x = x + 1 #without this line of code, x doesnt increment and it repeats forever

1
2
3
4

### For loop
-- allows you to iterate over a sequence

In [106]:
# FORMAT: 
# for [iterator] in [sequence]:
#     [do_this_usually_on_iterator]

In [107]:
ls = [1,23,3423,523,-2]
ls

[1, 23, 3423, 523, -2]

In [108]:
for x in ls:
    print(x)

1
23
3423
523
-2

Q: what is it the sequence in the above loop?

A: ls

Q: what is the iterator in the above loop?

A: x

#### syntax:

- colon at the end
- whatever we want to execute has to be indented

#### the iterator can be any variable you want

In [109]:
ls

[1, 23, 3423, 523, -2]

In [110]:
for random_number_in_list in ls:
    print(random_number_in_list)

1
23
3423
523
-2

In [111]:
for x in ls:
    print(ls)

[1, 23, 3423, 523, -2]
[1, 23, 3423, 523, -2]
[1, 23, 3423, 523, -2]
[1, 23, 3423, 523, -2]
[1, 23, 3423, 523, -2]

- know what your iterator variable is, this prints out the sequence variable instead

In [112]:
x #this x has replaced the previous version of x in our while loops

-2

- therefore, be mindful of the variable names you are using throughout a project

In [116]:
apples = [1,23,34,42354,-23]

In [117]:
#this is generally the naming convention i use when making for loops
for apple in apples:
    print(apple)

1
23
34
42354
-23

#### execute all the things

In [118]:
ls

[1, 23, 3423, 523, -2]

In [119]:
for i in ls:
#     print(i) #dont need to print out the iterator for the loop to work
    print(ls) #the whole list will print out
    print()
print('another hello') #not included in the for loop and 
# only outputs when the for loop is finished

[1, 23, 3423, 523, -2]

[1, 23, 3423, 523, -2]

[1, 23, 3423, 523, -2]

[1, 23, 3423, 523, -2]

[1, 23, 3423, 523, -2]

another hello

In [120]:
ls[:2] #slice a list

[1, 23]

In [122]:
for n in ls[:2]: #can iterate only over a slice of your list
    print(n)

1
23

In [123]:
ls #your list doesnt change

[1, 23, 3423, 523, -2]

In [124]:
for ls in ls: #dont do this
    print(ls)

1
23
3423
523
-2

In [126]:
ls

-2

- your `ls` variable has now been replace by your iterator

#### what happens with tuples

In [133]:
new_tuple = (1,5)
new_tuple

(1, 5)

In [134]:
for y in new_tuple:
    print(y)

1
5

In [135]:
for new_tuple in new_tuple:
    print(new_tuple)

1
5

In [136]:
new_tuple #it's not changing the tupole, its overriding the old tuple

5

In [137]:
new_tuple = (2,6)

In [138]:
new_tuple

(2, 6)

#### can make a new list by accessing each value and doing something to do

In [140]:
ls = [1,23,314,5,341,-25]

In [142]:
new_list = [] #initializing new empty list

for x in ls:
    print(x)
    new_list.append(x+1) #appending x+1 to the new list
    
new_list #print out the new list when done

1
23
314
5
341
-25

[2, 24, 315, 6, 342, -24]

In [143]:
new_list.append(1000) #how append works

In [144]:
new_list

[2, 24, 315, 6, 342, -24, 1000]

#### can also iterate over strings

In [145]:
string = 'hello pagel class!'
string

'hello pagel class!'

In [146]:
for char in string:
    print(char)
#     print(char + '!!!')
    if char == 'e':
        print('THIS IS THE LETTER E!!!!! PAY ATTENTION')

h
e
THIS IS THE LETTER E!!!!! PAY ATTENTION
l
l
o

p
a
g
e
THIS IS THE LETTER E!!!!! PAY ATTENTION
l

c
l
a
s
s
!

### List Comprehension

-- shorthand method of creating a list using a for loop

In [147]:
#FORMAT:
#[[what_to_do_to_iterator] for [iterator] in [sequence]]

In [148]:
ls

[1, 23, 314, 5, 341, -25]

In [149]:
#the long way in a for loop
new_list = []

for x in ls:
    new_list.append(x+1)
    
new_list

[2, 24, 315, 6, 342, -24]

In [150]:
#one-liner new list! cool! 
[ x+1 for x in ls ] #dont forget the square brackets

[2, 24, 315, 6, 342, -24]

In [151]:
new_list_from_list_comp = [ x+1 for x in ls ]

In [152]:
new_list_from_list_comp

[2, 24, 315, 6, 342, -24]

- in python, you can put pretty much anything into a variable and call it later!

### Recap

- if/elif/else
- while loops
- for loops

syntax: 
- all of these, the first line ends with a colon
- everything you want to execute needs to be on a new line and indented

#### if/elif/else

In [157]:
breakfast, weather

('coffee', 'rain')

In [158]:
if breakfast == 'cereal':
    print('this is cereal')
    
elif weather == 'rain': #as soon as a condition is true, it executes and exits
    print('its raining')

elif breakfast == 'coffee':
    print('you had coffe')

else:
    print('other')

its raining

- use our double == when checking a condition
- a single = means we are assigning variable

#### while

In [162]:
i = 0 

while i <5:
    print(i)
    print(i+2)
    i = i+1 #ensure there is a way to make your conditional statement FALSE
    print()
print('goodbye')

0
2

1
3

2
4

3
5

4
6

goodbye

#### for loops

In [165]:
ls = [23,123,1,1,2,0,-5]
ls

[23, 123, 1, 1, 2, 0, -5]

In [166]:
for any_varible_for_iterator in ls:
    print(any_varible_for_iterator)

23
123
1
1
2
0
-5

In [171]:
new_ls_times_100 = [] #initializing new list

for any_varible_for_iterator in ls:
    new_ls_times_100.append(any_varible_for_iterator *100) #adding each new element to new list

In [172]:
new_ls_times_100

[2300, 12300, 100, 100, 200, 0, -500]

#### list comprenhension

In [177]:
#dont forget the brackets
new_ls_100_ls_comp = [any_varible_for_iterator*100 for any_varible_for_iterator in ls]

In [178]:
new_ls_100_ls_comp

[2300, 12300, 100, 100, 200, 0, -500]

### Break Continue
-- commands to execute in a loop

-- `break` will force the loop to end

-- `continue` will skip the current iteration of a loop

In [183]:
#make big list
big_ls = list(range(100))
# big_ls

In [192]:
for i in big_ls:
    print(i)
#     find when a number equals 9, then break out of the loop
    if i == 9: 
        print('you found 9!')
        break #completely breaks us out of the for loop
    print('hello')

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
you found 9!

In [201]:
for i in big_ls:
    print(i)
    #find the number 9 and then skip that current iteration
    if i == 9:
        print('you found 9!')
        continue
    print('hello') #this gets skipped when we hit that continue
    print()
    if i == 15:
        break

0
hello

1
hello

2
hello

3
hello

4
hello

5
hello

6
hello

7
hello

8
hello

9
you found 9!
10
hello

11
hello

12
hello

13
hello

14
hello

15
hello

In [218]:
string = 'Hello Pagel'

In [220]:
for char in string:
    print(char)
    print('this print when its not a space')

H
this print when its not a space
e
this print when its not a space
l
this print when its not a space
l
this print when its not a space
o
this print when its not a space

this print when its not a space
P
this print when its not a space
a
this print when its not a space
g
this print when its not a space
e
this print when its not a space
l
this print when its not a space

In [219]:
for char in string:
    print(f'this is my char: {char}')
    if char == ' ': #whenever we see a space
        continue #skip everything else in this loop
    char = char.upper()
    print(char)
    print('this print when its not a space')

this is my char: H
H
this print when its not a space
this is my char: e
E
this print when its not a space
this is my char: l
L
this print when its not a space
this is my char: l
L
this print when its not a space
this is my char: o
O
this print when its not a space
this is my char:
this is my char: P
P
this print when its not a space
this is my char: a
A
this print when its not a space
this is my char: g
G
this print when its not a space
this is my char: e
E
this print when its not a space
this is my char: l
L
this print when its not a space