# Control Structures

What are they: Commands that enable a program to know which direction to go. Aka controls the 'flow' of the program

There are different kinds of flow: 
- sequential flow
- conditional flow
- repetitive flow

Why do we care: These are building blocks in programming that allows us to do a lot of cool things!

## Conditional flow

opener: whats the difference between the following code commands?

In [1]:
breakfast = 'coffee'

In [2]:
breakfast

'coffee'

In [3]:
breakfast == 'coffee'

True

- the single = is setting a variable
- the double == is checking a condition

### IF statement

#### IF
-- if this condition is true, do this action

In [4]:
# FORMAT:
# if [condition_to_check]:
#     [do_this_if_TRUE]

In [5]:
breakfast

'coffee'

In [6]:
if breakfast == 'coffee':
    print('yes, you had cofffee for breakfast')

yes, you had cofffee for breakfast

> note: WHITE SPACE MATTERS IN PYTHON

In [9]:
if breakfast == 'coffee':
    print('hello')
            print('yes, you had cofffee for breakfast') #this errors out

IndentationError: unexpected indent (1206821462.py, line 3)

#### syntax

- after you conditional statement, always include that colon :
- whatever you would like to execute, put on a new line and indent

#### more examples

In [10]:
awake = False

In [11]:
if breakfast == 'coffee': 
    print('yes you had coffe for breakfast')
    awake = True
    print(2+3)

yes you had coffe for breakfast
5

In [12]:
if breakfast == 'cereal':
    print('yay cereal!')
    print(2+3) #nothing prints out because inside the if statement

In [13]:
if breakfast == 'cereal':
    print('yay cereal!')
    print(2+3)
print('goodbye') # this isnt included in the if statement so it always executes

goodbye

> pay attention to the indentation!

#### troubleshooting

In [14]:
weather = 'rain'

Whats wrong with the following code? Look at the error statements before fixing.

In [15]:
if weather = 'rain':
    print('yes, it is rainy outside today')

SyntaxError: invalid syntax (4008337924.py, line 1)

In [16]:
if weather == rain:
    print('yes, it is rainy outside today')

NameError: name 'rain' is not defined

- it thinks that `rain` is a variable

In [17]:
if weather == 'rain':
print('yes, it is rainy outside today')

IndentationError: expected an indented block (3714790084.py, line 2)

In [18]:
if weather == 'rain'
    print('yes, it is rainy outside today')

SyntaxError: invalid syntax (4247481164.py, line 1)

#### IF/ELSE
-- if this condition is true, do this action, if nothing else is true, do this

In [19]:
# FORMAT:
# if [condition_to_check]:
#     [do_this_if_TRUE]
# else:
#     [do_this_if_FALSE]

In [20]:
breakfast

'coffee'

In [21]:
if breakfast == 'banana':
    print('yay banana!')
else:
    print('i dont know what you had for breakfast')
    print('extra lines')

print(5+2) #will always print regardless

i dont know what you had for breakfast
extra lines
7

#### syntax

note: the indentations and new lines

#### IF/ELIF/ELSE
-- if this condition is true, do this action, else if this other condition is true, do something else, if nothing is true, do this

In [22]:
# FORMAT:
# if [condition_to_check]:
#     [do_this_if_TRUE]
# elif [condition_to_check]:
#     [do_this_if_TRUE]
# else:
#     [do_this_if_FALSE]

In [23]:
breakfast, weather

('coffee', 'rain')

In [24]:
if breakfast == 'coffee':
    print('breakfast coffee')
elif weather == 'rain':
    print('it rain')
else:
    print('no coffee or rain')

breakfast coffee

- as long as one of the conditions are TRUE, it will execute and get out of the if statement

#### double if?

In [25]:
if breakfast == 'coffee':
    print('breakfast coffee') 
if weather == 'rain': #not using an elif
    print('it rain')
else:
    print('no coffee or rain')

breakfast coffee
it rain

#### check multiple conditions?

In [26]:
breakfast, weather

('coffee', 'rain')

In [27]:
if breakfast == 'coffee' and weather == 'sunny': #you dont need an else statement
    print('coffe and sun')
# else:
#     print('these both arent true')

In [28]:
if breakfast == 'coffee' or weather == 'sunny':
    print('coffe and sun')

coffe and sun

- `and` BOTH conditions are true
- `or` EITHER coniditon is true

## Repetitive Flow (loops)

### While loop
-- do some action over and over again while a condition is true

In [29]:
# FORMAT: 
# while [condition]:
#     [repeat_this_while_condition_is_true]

In [30]:
x = 1

while x < 5:
    print(x)
    x = x + 1

print(x)

1
2
3
4
5

#### syntax

- need the colon after the conditional statement
- everything that you want to execute has to be indented over

#### whats happening in the above code?

- setting my variable x to 1 
- then im checking if x is less that 5
- printing out x
- adding one to x
- go back to the top of the loop and check my condition to see if it is true
- once my condition is false, then i exit the loop

#### another example

In [31]:
x = 6

while x < 5: #doesnt error out, just doesnt execute anything
    print(x)
    x = x + 1

print(x)

6

In [32]:
# x = 6

# while x > 5: #need to be able to break out of this condition somehow
#     print(x)

- this in an infite loop. dont make these

#### troubleshoot

In [33]:
x = 1 

while x < 5: 
    print(x)
    x = x + 1 #without this line of code, x doesnt increment and it repeats forever

1
2
3
4

### For loop
-- allows you to iterate over a sequence

In [34]:
# FORMAT: 
# for [iterator] in [sequence]:
#     [do_this_usually_on_iterator]

In [35]:
ls = [1,23,3423,523,-2]
ls

[1, 23, 3423, 523, -2]

In [36]:
for x in ls:
    print(x)

1
23
3423
523
-2

Q: what is it the sequence in the above loop?

A: ls

Q: what is the iterator in the above loop?

A: x

#### syntax:

- colon at the end
- whatever we want to execute has to be indented

#### the iterator can be any variable you want

In [37]:
ls

[1, 23, 3423, 523, -2]

In [38]:
for random_number_in_list in ls:
    print(random_number_in_list)

1
23
3423
523
-2

In [39]:
for x in ls:
    print(ls)

[1, 23, 3423, 523, -2]
[1, 23, 3423, 523, -2]
[1, 23, 3423, 523, -2]
[1, 23, 3423, 523, -2]
[1, 23, 3423, 523, -2]

- know what your iterator variable is

In [40]:
x #this x has replaced the previous version of x in our while loops

-2

In [41]:
number_of_apples = [1,23,34,42354,-23]

In [42]:
for number in number_of_apples:
    print(number)

1
23
34
42354
-23

#### execute all the things

In [43]:
ls

[1, 23, 3423, 523, -2]

In [44]:
for i in ls:
#     print(i) #dont need to print out the iterator for the loop to work
    print(ls) #the whole list will print out
    print()
print('another hello') #not included in the for loop and 
# only outputs when the for loop is finished

[1, 23, 3423, 523, -2]

[1, 23, 3423, 523, -2]

[1, 23, 3423, 523, -2]

[1, 23, 3423, 523, -2]

[1, 23, 3423, 523, -2]

another hello

In [45]:
ls[:2]

[1, 23]

In [46]:
for n in ls[:2]: #iterator can slice a piece of your list
    print(n)

1
23

In [47]:
ls #your list doesnt change

[1, 23, 3423, 523, -2]

In [48]:
for ls in ls: #dont do this
    print(ls)

1
23
3423
523
-2

In [49]:
ls

-2

- your `ls` variable has now been replace by your iterator

#### what happens with tuples

In [50]:
new_tuple = (1,5)
new_tuple

(1, 5)

In [51]:
for y in new_tuple:
    print(y)

1
5

In [52]:
for new_tuple in new_tuple:
    print(new_tuple)

1
5

In [53]:
new_tuple #overriding the old tuple

5

In [54]:
new_tuple = (2,5)

In [55]:
new_tuple

(2, 5)

#### can make a new list by accessing each value and doing something to do

In [56]:
ls = [1,23,314,5,341,-25]

In [57]:
new_list = []

for x in ls:
    print(x)
    
    new_list.append(x+1)
    
new_list

1
23
314
5
341
-25

[2, 24, 315, 6, 342, -24]

In [58]:
new_list.append(1000)

In [59]:
new_list

[2, 24, 315, 6, 342, -24, 1000]

#### can also iterate over strings

In [60]:
string = 'hello pagel class!'
string

'hello pagel class!'

In [61]:
for char in string:
    print(char)
#     print(char + '!!!')
    if char == 'e':
        print('THIS IS THE LETTER E!!!!! PAY ATTENTION')

h
e
THIS IS THE LETTER E!!!!! PAY ATTENTION
l
l
o

p
a
g
e
THIS IS THE LETTER E!!!!! PAY ATTENTION
l

c
l
a
s
s
!

### List Comprehension

-- shorthand method of creating a list using a for loop

In [62]:
#FORMAT:
#[[what_to_do_to_iterator] for [iterator] in [sequence]]

In [63]:
ls

[1, 23, 314, 5, 341, -25]

In [64]:
new_list = []

for x in ls:
    new_list.append(x+1)
    
new_list

[2, 24, 315, 6, 342, -24]

In [65]:
#one-liner new list! cool! 
[ x+1 for x in ls ] #dont forget the square brackets

[2, 24, 315, 6, 342, -24]

In [66]:
new_list_from_list_comp = [ x+1 for x in ls ]

In [67]:
new_list_from_list_comp

[2, 24, 315, 6, 342, -24]

- in python, you can put pretty much anything into a variable and call it later!

### Break Continue
-- commands to execute in a loop

-- `break` will force the loop to end

-- `continue` will skip the current iteration of a loop

In [68]:
#make big list