# Functions

What are they? generally code that takes in data, transforms it, and outputs new data

Why do we care? because we can use already made code to repeat the same block code over and over!

generally interacting with two types
- someone else's function
- or a function that you create!

note: functions always have those parenthesis at the end!

## built-in functions

#### some you may have already seen

In [1]:
#new list
ls = [1,34,5245,3,23,13467,-2]

In [2]:
print(ls)

[1, 34, 5245, 3, 23, 13467, -2]

In [28]:
string = '   34.   '

In [29]:
string.strip() #method, not a function

'34.'

- methods are getting applied to an object
- vs sending an object into a function

In [30]:
strip(string) #function takes in data

NameError: name 'strip' is not defined

In [7]:
range(0,100)

range(0, 100)

In [8]:
ls

[1, 34, 5245, 3, 23, 13467, -2]

In [9]:
max(ls)

13467

In [10]:
min(ls)

-2

In [11]:
sum(ls)

18771

In [13]:
sort(ls)

NameError: name 'sort' is not defined

In [14]:
ls.sort() #method, not a function

In [15]:
ls

[-2, 1, 3, 23, 34, 5245, 13467]

In [16]:
ls

[-2, 1, 3, 23, 34, 5245, 13467]

In [17]:
sum(ls)

18771

In [18]:
len(ls)

7

In [26]:
mean(ls)

NameError: name 'mean' is not defined

In [22]:
#find average
avg_ls = round(sum(ls) / len(ls), 2) #executes inside to outside

In [23]:
avg_ls

2681.57

#### troubleshooting errors

In [31]:
len

- whenever you see the pointy brackets, you are missing something
- in this case, you are missing the parenthesis

In [35]:
len()

TypeError: len() takes exactly one argument (0 given)

## make our own functions!

1. first define the function (create it)
2. then call the function (access it)

#### define a function

In [36]:
# FORMAT:
# def [function_name]([input]):
#     return [output_usually_transformed_input]

In [44]:
#create a function that adds one every time
def add_one(input_variable):
    '''
    takes a int and adds one to it
    ''' #this is called a docstring
    return input_variable + 1

what happening in the above code?

- defining my function called `add_one`
- accepting an input and labeling `input_variable`
- return that input_variable with 1 added to it

note:
- all we have done so far is define our function
- nothing is executing

#### call the function we created

In [ ]:
# FORMAT:
# [function_name]([input])

In [38]:
add_one(10)

11

In [39]:
add_one(15)

16

In [40]:
add_one(20)

21

In [42]:
'hello' + 1

TypeError: can only concatenate str (not "int") to str

In [43]:
add_one('hello')

TypeError: can only concatenate str (not "int") to str

#### access our docstring with our info we wrote

In [47]:
add_one?

In [48]:
help(add_one)

Help on function add_one in module __main__:

add_one(input_variable)
    takes a int and adds one to it

In [50]:
#nest the function
add_one(add_one(add_one(5))) #executing from inside to out

8

#### look at the input variable

In [52]:
#create a function that adds one every time
def add_one(input_variable):
    '''
    takes a int and adds one to it
    ''' #this is called a docstring
    return input_variable + 1

In [54]:
input_variable

NameError: name 'input_variable' is not defined

- any variables made inside a function ONLY EXIST INSIDE THE FUNCTION

### printing vs returning vs nothing in functions

#### define em

In [60]:
def add_one_return(i):
    return i +1

In [61]:
def add_one_print(i):
    print(i + 1)

In [62]:
def add_one_none(i):
    i + 1

#### call em

In [63]:
add_one_return(5)

6

In [64]:
add_one_print(5)

6

In [66]:
add_one_none(5)

questions:
- return and print look the same, are they?
- why does add_one_none return nothing?

#### investigate

In [72]:
new_var_return = add_one_return(5)

In [73]:
new_var_return

6

- this is the only one returning an actual value

In [81]:
new_var_print = add_one_print(5)

6

In [82]:
new_var_print

In [83]:
type(new_var_print)

NoneType

- here i am saving a print statment into a variable

In [77]:
print_var = print('hello')

hello

In [78]:
print_var

In [79]:
type(print_var)

NoneType

In [80]:
type(print('hello'))

hello

NoneType

In [84]:
new_var_return

6

In [88]:
new_var_print * 100

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [99]:
add_one_return(10)

11

In [101]:
add_one_return(20)

21

In [97]:
new_var_return #variable

6

In [89]:
new_var_return * 100

600

In [90]:
new_var_return - 2

4

In [93]:
return_variable2 = add_one_return(10)

In [102]:
return_variable2, return_variable2*2

(11, 22)

In [104]:
return_variable2 #just a variable, havent changed the function

11

### lets make it more complex

#### ex. let's create a function that takes in a string, uppercases everything and then adds 3 exclamation points

best practice for creating functions
1. get your code working outside of the function first
2. once your code is working correctly, then define it as a function
3. call and test your function

#### 1. get your code working outside of the function first

In [105]:
string = 'hello pagel class'

In [107]:
string = string.upper() #method
string

'HELLO PAGEL CLASS'

In [109]:
string.append('!!!') #append is for a list

AttributeError: 'str' object has no attribute 'append'

In [111]:
string = string + '!!!'
string

'HELLO PAGEL CLASS!!!'

#### 2. once your code is working correctly, then define it as a function

In [115]:
def loud_string(input_string): #only one argument
    
    input_string = input_string.upper() #make sure your input variable matches 
    # the variable inside your function
    
    input_string = input_string + '!!!'
    
    return input_string #all i need to output is my transformed variable

#### 3. call and test your function

In [116]:
loud_string('how are you')

'HOW ARE YOU!!!'

In [117]:
loud_string('its raining')

'ITS RAINING!!!'

#### how do we include a single quote

In [122]:
loud_string('it's raining')

SyntaxError: invalid syntax (1022276902.py, line 1)

In [123]:
loud_string("it's raining") #add double quotes

"IT'S RAINING!!!"

In [124]:
loud_string('it\'s raining') #add escape character aka \

"IT'S RAINING!!!"

In [125]:
input_string

NameError: name 'input_string' is not defined

- this variable doesnt exist outside my function

### arguments

-- argument: the value a function is called with

#### multiples

In [127]:
def add_things(a,b): #takes two arguments
    result = a + b
    return result

In [128]:
add_things(5,10)

15

- the arguments are 5 and 10

In [130]:
add_things(20,25)

45

In [132]:
add_things('hello','pagel')

'hellopagel'

In [133]:
add_things('hello')

TypeError: add_things() missing 1 required positional argument: 'b'

In [134]:
add_things('hello','pagel','class')

TypeError: add_things() takes 2 positional arguments but 3 were given

In [135]:
add_things(1,'hello')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
def add_things(a,b): #takes two arguments
    result = a + b
    return result

#### position matters

In [136]:
def do_things(a,b):
    a = a + 1
    b = b * -1000
    return a,b

In [144]:
do_things()

TypeError: do_things() missing 2 required positional arguments: 'a' and 'b'

In [137]:
do_things(5,10)

(6, -10000)

- 5 corresponds to the a variable since it was sent in first
- 10 corresponds to the b variable since it was sent in second

#### kwargs (keyword arguments)

In [139]:
#call do_things by keyword
do_things(b=5, a=10) #this is where im calling my function

(11, -5000)

- they are returning in the order they are written in the return statement

In [141]:
do_things(a=10, b=5)

(11, -5000)

#### default values

In [142]:
def do_things_extra(a=200, b=5): #defining default values
    a = a + 1
    b = b * -1000
    return(a,b)

In [145]:
do_things_extra() #dont need input arguments since they are defined in my function

(201, -5000)

In [147]:
do_things_extra(,10) #this syntax doesnt work

SyntaxError: invalid syntax (913997361.py, line 1)

In [148]:
do_things_extra(b=10) #there is no a variable input

(201, -10000)

In [149]:
do_things_extra()

(201, -5000)

#### unpacking arguments

In [159]:
#by list
args = [5,10]

In [160]:
do_things(*args)

(6, -10000)

In [161]:
do_things(args)

TypeError: do_things() missing 1 required positional argument: 'b'

- to pull each piece from the list, we need the * in front

In [162]:
#by list
args_long = [5,10,13]

In [163]:
do_things(*args_long)

TypeError: do_things() takes 2 positional arguments but 3 were given

In [164]:
def do_things(a,b):
    a = a + 1
    b = b * -1000
    return a,b

In [165]:
#by dictionary
kwargs = {'b':50,'a':2}

In [166]:
do_things(**kwargs)

(3, -50000)

- the ** allow us to unpack the dictionary by argument name

### scope

In [167]:
outside_number = 10

In [168]:
def do_math(func_numb):
    print(outside_number) #working as a global variable
    print(func_numb)
    
print('hello') #not indented, not inside the function, so it prints out

hello

In [169]:
do_math(5)

10
5

In [170]:
outside_number #this has been defined outside our function

10

In [171]:
func_numb #this is only defined inside our function

NameError: name 'func_numb' is not defined

- be mindful of what your variable names are, and where they are defined at
- are they defined outside or inside of the function?

In [172]:
do_math(5)

10
5

In [173]:
var_do_math = do_math(5)

10
5

In [174]:
var_do_math

In [175]:
type(var_do_math)

NoneType

- there is NO RETURN STATEMENT

- only use a print statement if you want to see the output, but not save it for later
- you need the return statement to save the variable

### lambda

- a function that can be created in one line, when you have a one line return statement

In [176]:
# FORMAT: 
# [function_name] = lambda [variable] : [transform_variable]

In [178]:
# long way
def add_one_try_again(n):
    return n + 1

In [179]:
add_one_try_again(5)

6

In [183]:
#one liner for simple function
add_one_lambda = lambda n : n + 1

In [184]:
add_one_lambda(5)

6

In [188]:
#multiple arguments, but one operation
try_this = lambda n, x : n + 1*x

In [189]:
try_this(5,10)

15